body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row: 2fr 1fr 4fr 4fr;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0px;
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}

button {
    background-color: #0095da;
    color: #ffffff;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 8px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding: 10px 0px 10px 30px;
    background-color: #0095da;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    gap: 15px;
}

.logo img {
    height: 45px;
    width: 50px;
}

.header {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 15px;
}

.header .upper {
    display: grid;
    gap: 8px;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 40px;
}

.header .upper .searchbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 3px;
    padding-right: 35px;
    direction: rtl;
    align-items: center;
}

.header .upper .bar{
    border-radius: 15px;
    background-color: #e1e8f1;
    border: none;
    height: 25px;
}

.header .upper .name{
    font-weight: bolder;
    font-size: 20px;
    padding-left: 15px;
}

.header .lower{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding-right: clamp(15px, 30%, 70px);
}

.header .lower .left {
    display: flex;
    gap: 8px;
    padding-left: 4px;
    align-items: center;
}

.header .lower .left .name {
    font-weight: bolder;
    font-size: 20px;
}


.projects {
    grid-column: 2 / 3;
    background-color: #e1e8f1;
    padding: 20px;
    padding-top: 30px;
}

.projects .title {
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 23px;
}

.projects .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    padding: 15px;
}

.projects .card-container .card {
    display: flex;
    background-color: #ffffff;
}

.projects .card-container .card .content {
    padding: 20px;
}

.projects .card-container .card .content .text {
    padding-bottom: 20px;
}

.projects .card-container .card .imgs {
    display: flex;
    flex-direction: row-reverse;
    height: 32px;
}

.projects .card-container .strip {
    width: 30px; 
    height: 100%;
    background-color: #fbb100;
}
.announcements {
    grid-column: 3 / 4;
}

.announcement-container {
    display: flex;
    flex-direction: column;
}

.trending {
    grid-column: 3 / 4;
}

.user-container {
    display: flex;
    flex-direction: column;
}
.trending .users {
    display: flex;
}

.announcement-container {
    border: 1px black solid;
    padding: 15px;
}

.announcement-container .pages {
    border: 1px black solid;
}